/* *** Styles Symfony Context *********************/
#p-titre {
  font-size: 3rem;
}
#p-msg {
  font-size: 1rem;
}
#p-msg-erreur {
  font-size: 1.5rem;
}

/* *** Styles particulier *********************/
.color-lightgray {
    background-color: lightgray;
  }

.box-brown{
    border: 1px solid brown;
    border-radius: 5px;
    background-color: rgba(165, 42, 42, 0.777);
}

.box-grey {
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgba(211, 211, 211, 0.777);
}
/* .box-yellow = WARNING Box  */
.box-yellow {                 
  border: 1px dotted red;
  border-radius: 5px;
  background-color: rgba(255, 255, 0, 0.777);
}

body {
  min-height: 100vh;
  user-select: none;
  /* https://images.pexels.com/photos/164005/pexels-photo-164005.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940
  https://images.pexels.com/photos/326311/pexels-photo-326311.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940 */
  background: url( https://images.pexels.com/photos/164005/pexels-photo-164005.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940 )
    center/cover no-repeat;
  padding: 5px 10px;
}

header {
  /* background-image: url("../../images/top_bg.jpg"); */
  background: center/cover url(../IMAGES/banniere.png) no-repeat;
  border: 2px solid var(--noir1);
  border-radius: 10px;
  margin: 5px 30px 0px 30px;
}

#box-head {
    /* background-image: url("../ASSETS/banniere.png"); */
    background: center/cover url(../ASSETS/banniere.png) no-repeat;
    border: 1px solid brown;
    border-radius: 5px;
}

h1, h2 {
  /* flex: 4; */
  text-align: center;
  font-family: "Praise", cursive;
  font-size: 3rem;
  letter-spacing: 5px;
  color: brown;
  /* text-shadow: 5px 5px 0px black; */
  text-shadow: 3px 2px 3px white;
  margin: 5px;
}

