{% extends 'base.html.twig' %}

{% block title %}Produits index{% endblock %}

{% block body %}
    <h1>Produits index</h1>

    <div class="padding-V10">
    <div class="box-grey axe1-sp-around axe2-center padding-V10 padding-H10">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Catégories</th>
                <th>Nom</th>
                <th>ImgFile</th>
                <th>Prix</th>
                <th>Quantite</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td>{{ produit.id }}</td>
                <td>{{ produit.CategoriesProd.nom }}</td>
                <td>{{ produit.nom }}</td>
                {# <td>{{ produit.imgFile }}</td> #}
                <td>
                    <img class="img-small" src='/uploads/{{ produit.imgFile }}' alt="imgProduit">
                </td>
                <td>{{ produit.prix }}</td>
                <td>{{ produit.quantite }}</td>
                <td>{{ produit.description }}</td>
                <td>
                    <a href="{{ path('app_produits_show', {'id': produit.id}) }}">show</a>
                    <a href="{{ path('app_produits_edit', {'id': produit.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_produits_new') }}">Create new</a>
    </div>
    </div>
    
{% endblock %}
