{% extends 'base.html.twig' %}

{% block title %}DCD Carte{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
</div>

<main>
    <h2>- Notre Carte -</h2>

    {% for cat in categories_prod %}
        {# <div class="padding-V10"> #}
            <div class="box-grey margin-H50 ligne axe1-center axe2-center">
                <h3 class="center-text">{{ cat.nom }}</h3>
            </div>

            {% for produit in cat.Produits %}
                <div class="padding-V10">
                    <div class="ligne box-brown axe1-sp-around axe2-center ">
                        <div class="imgMax">
                            <img class="img-medium" src='/uploads/{{ produit.imgFile }}' alt="imgBurger">
                        </div>
                        <div class="col">
                            <h3>{{ produit.nom }}</h3>
                            <h3 class="prix">{{ produit.prix }} &euro;</h3>
                            <h4>{{ produit.description }}</h4>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {# </div> #}
    {% endfor %}

</main>

{% endblock %}
