{% extends 'base.html.twig' %}

{% block title %}Admin Cmd{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Réservation - Commandes</h1>
    <h2> Réservation: </h2>
    <h3> Voir l'historique - Valider ? </h3>
    <h2> Commandes: </h2>
    <h3> Voir l'historique: Préparer > Tel </h3>
    
</div>
{% endblock %}
