{% extends 'base.html.twig' %}

{% block title %}Commander!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Réserver - Commander</h1>

    <h2> Commander: vente à emporter </h2>
    <h2> Commander: livraison avec (liens UberEat Delivroo ...) </h2>

</div>
{% endblock %}
