{% extends 'base.html.twig' %}

{% block title %}Admin Info Pub{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>INFO - PUB</h1>

    <h2> Modifier: </h2>
</div>
{% endblock %}
