<form method="post" action="{{ path('app_categories_prod_delete', {'id': categories_prod.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ categories_prod.id) }}">
    <button class="btn">Delete</button>
</form>
