{% extends 'base.html.twig' %}

{% block title %}Edit CategoriesProd{% endblock %}

{% block body %}
    <h1>Edit CategoriesProd</h1>

    {{ include('categories_prod/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_categories_prod_index') }}">back to list</a>

    {{ include('categories_prod/_delete_form.html.twig') }}
{% endblock %}
