{% extends 'base.html.twig' %}

{% block title %}CategoriesProd index{% endblock %}

{% block body %}
    <h2>CategoriesProd index</h1>

    <div class="padding-V10">
    <div class="box-grey axe1-sp-around axe2-center padding-V10 padding-H10">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categories_prod in categories_prods %}
            <tr>
                <td>{{ categories_prod.id }}</td>
                <td>{{ categories_prod.nom }}</td>
                <td>{{ categories_prod.description }}</td>
                <td>
                    <a href="{{ path('app_categories_prod_show', {'id': categories_prod.id}) }}">show</a>
                    <a href="{{ path('app_categories_prod_edit', {'id': categories_prod.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_categories_prod_new') }}">Create new</a>
    </div>
    </div>
{% endblock %}
