{% extends 'base.html.twig' %}

{% block title %}New CategoriesProd{% endblock %}

{% block body %}
    <h1>Create new CategoriesProd</h1>

    {{ include('categories_prod/_form.html.twig') }}

    <a href="{{ path('app_categories_prod_index') }}">back to list</a>
{% endblock %}
