{% extends 'base.html.twig' %}

{% block title %}CategoriesProd{% endblock %}

{% block body %}
    <h1>CategoriesProd</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ categories_prod.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ categories_prod.nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ categories_prod.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_categories_prod_index') }}">back to list</a>

    <a href="{{ path('app_categories_prod_edit', {'id': categories_prod.id}) }}">edit</a>

    {{ include('categories_prod/_delete_form.html.twig') }}
{% endblock %}
