<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            <link rel="stylesheet" href="./CSS/styles.css">
            <link rel="stylesheet" href="./CSS/stylesV.css">
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>

        {% block head %}
        <head>
            <h1> Burger DCD </h1>
            <nav>
                <ul>
                    <li>
                        <a href="{{ url('app_produits_index') }}">produits</a>
                    </li>
                    <li>
                        <a href="{{ url('app_categories_prod_index') }}">catégories</a>
                    </li>
                    <li>
                        <a href="{{ url('app_register') }}">register</a>
                    </li>
                    <li>
                        <a href="{{ url('app_login') }}">login</a>
                    </li>
                    <li>
                        <a href="{{ url('app_logout') }}">logout</a>
                    </li>
                </ul>
            </nav>
        </head>
        {% endblock %}

        {% block body %}
        {% endblock %}
    </body>
</html>
