<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            <link rel="stylesheet" href="/CSS/styles.css">
            <link rel="stylesheet" href="/CSS/stylesV.css">
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>

        {% block header %}
        <header class="padding-H10">
            
            <div id="box-head" class="ligne axe1-sp-around axe2-center padding-V10 ">
                <div>
                    <img class="img-small" src="/ASSETS/logo.png" alt="logo">
                </div>
                <h1>Dead Cow Dinner</h1>
            </div>

            {% if (is_granted('IS_AUTHENTICATED_REMEMBERED') == false) %}
                {# === NavBar Visiteur ==================================== #}
                <nav class="padding-V10">
                    <ul class="ligne axe1-sp-around axe2-center padding-V10 box-grey">
                        <li>
                            <a href="{{ url('app_v1_restau_info') }}">Notre Restau</a>
                        </li>
                        <li>
                            <a href="{{ url('app_index') }}">Notre Carte</a>
                        </li>
                        <li>
                            <a href="{{ url('app_v1_commander') }}">Réserver - Commander</a>
                        </li>
                    </ul>
                </nav>
            {% else %}
                {# === NavBar Admin ==================================== #}
                <nav class="padding-V10">
                    <ul class="ligne axe1-sp-around axe2-center padding-V10 box-grey">
                        <li>
                            <a href="{{ url('app_v2_plan_site_admin') }}">Plan Site Admin</a>
                        </li>
                        <li>
                            <a href="{{ url('app_v2_info_pub') }}">Info Pub</a>
                        </li>
                        {# <li>
                            <a href="{{ url('app_v2_prod_cat_gestion') }}">Gestion Produits Categories</a>
                        </li> #}
                        <li class="col">
                            <a href="{{ url('app_produits_index') }}">Gestion Produits</a>
                            <a href="{{ url('app_categories_prod_index') }}">Gestion Categories</a>
                        </li>
                        <li>
                            <a href="{{ url('app_v2_commandes_voir') }}">Reservations - Commandes</a>
                        </li>
                    </ul>
                </nav>
            {% endif %}
        </header>
        {% endblock %}



        {% block body %}
            {# <p id="p-titre" class="box-grey">{{base_titre}}</p> #}
            {# <p id="p-msg" class="box-grey">{{base_msg}}</p> #}
            <p id="p-msg-erreur" class="box-yellow">{{base_msg_erreur}}</p>
        {% endblock %}



        {% block footer %}
        {# === Footer ===================================================================== #}
        <footer class="padding-V10 padding-H10">
            <nav class="">
                <ul class="ligne axe1-sp-around axe2-center padding-V10 box-grey">
                    <li>
                        <a href="{{ url('app_register') }}">register</a>
                    </li>
                    <li>
                        <a href="{{ url('app_login') }}">login</a>
                    </li>
                    <li>
                        <a href="{{ url('app_logout') }}">logout</a>
                    </li>
                </ul>
            </nav>
        </footer>
        {% endblock %}

    </body>
</html>
