{% extends 'base.html.twig' %}

{% block title %}Admin Plan{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Plan du site Admin</h1>

    <h2> Modifier: </h2>
    <ul>
        <li>INFO: </li>
        <li>Calendrier: vacances (fermeture) <code><a href="{{ '/home/cyril/Documents/SIMPLON_EXO/03c_BurgerDCD/templates/v2_info_pub/index.html.twig'|file_link(0) }}">templates/v2_info_pub/index.html.twig</a></code></li>
        <li>Horraire <code><a href="{{ '/home/cyril/Documents/SIMPLON_EXO/03c_BurgerDCD/templates/v2_info_pub/index.html.twig'|file_link(0) }}">templates/v2_info_pub/index.html.twig</a></code></li>
        <li>PUB: <code><a href="{{ '/home/cyril/Documents/SIMPLON_EXO/03c_BurgerDCD/src/Controller/V2InfoPubController.php'|file_link(0) }}">src/Controller/V2InfoPubController.php</a></code></li>
        <li>Mise en avant produits <code><a href="{{ '/home/cyril/Documents/SIMPLON_EXO/03c_BurgerDCD/templates/v2_info_pub/index.html.twig'|file_link(0) }}">templates/v2_info_pub/index.html.twig</a></code></li>
        <li>PRODUITS: </li>
        <li>crud <code><a href="{{ '/home/cyril/Documents/SIMPLON_EXO/03c_BurgerDCD/templates/v2_info_pub/index.html.twig'|file_link(0) }}">templates/v2_info_pub/index.html.twig</a></code></li>
        <li>CATEGORIES Produits: </li>
        <li>crud <code><a href="{{ '/home/cyril/Documents/SIMPLON_EXO/03c_BurgerDCD/templates/v2_info_pub/index.html.twig'|file_link(0) }}">templates/v2_info_pub/index.html.twig</a></code></li>
        <li>RESERVATIONS OnSite - COMMANDES OnLine: </li>
        <li>historique <code><a href="{{ '/home/cyril/Documents/SIMPLON_EXO/03c_BurgerDCD/templates/v2_info_pub/index.html.twig'|file_link(0) }}">templates/v2_info_pub/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
