{% extends 'base.html.twig' %}

{% block title %}Admin Produits{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>PRODUITS - CATEGORIES</h1>

    <a href="{{ url('app_produits_index') }}">Produits: CRUD</a>
    <a href="{{ url('app_categories_prod_index') }}">Categories: CRUD</a>
</div>
{% endblock %}
